<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/extra.css">

<nav class="navbar navbar-expand-lg bg-body-tertiary mynav">
  <div class="container">
    <!-- Left-aligned logo -->
    <a class="navbar-brand mynavtext" href="/">Jeffrey's Blog</a>

    <!-- Toggler for small screens -->
    <button class="navbar-toggler mytoggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mytoggle"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link mynavtext ms-4" href="/" aria-current="page">Home</a>
        <a class="nav-link mynavtext ms-4" href="/post">Add Post</a>
        <a class="nav-link mynavtext ms-4" href="/edit">Edit Post</a>

      </div>
    </div>
  </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>