<link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.css">
<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="/css/extra.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<style>
    .mb-3{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .myfileinput{
    width: auto;
  }

  .mysubmit{
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    border-radius: 7px; 
    padding: 0 10px 0 10px;
    padding: 10px 10px;    
    font-family: "Poppins", serif;
    font-style: normal;
    font-size: 1rem;
    border: 0;
    margin-top: 40px;
    width: 150px;
  }
  .mysubmit:hover{
    background-color: white;
    color: black;
    border: 2px black solid;
  }
</style>


<form action="/updatePost/<%= index %>" method="post" enctype="multipart/form-data">
    <h1 class="hNewPost" style="margin-top: 20px;">Change title below: </h1>
    <input id="fname" name="pheading" class="textboxcss" style="margin-top: 20px;" value="<%= post.t %>"><br> 
    <h1 class="hNewPost" style="margin-top: 20px;">Change content below: </h1>  
    <textarea name="pcontent" id="lname" class="textareacss" style="margin-top: 20px;"><%= post.c %></textarea>
    <div class="mb-3">
      <h1 class="hNewPost" style="margin-top: 20px;">Change Image below:</h1>
    <input class="form-control myfileinput" type="file" id="formFile"  style="margin-top: 20px;" name="formFile" accept="image/*">
  </div> 
  <div style="display: flex;
              justify-content: center;">
    <input type="submit" value="Update" class="mysubmit" style="margin-top: 20px;">
  </div>
  </form>

<script src="/js/bootstrap.bundle.min.js"></script>