
<link rel="stylesheet" href="../public/css/extra.css">

<%- include("partials/header.ejs") %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


<form action="/submit1" method="post" enctype="multipart/form-data">

  <h1>Enter title below: </h1>
  <input type="text" id="fname" name="pheading"><br>

  <div class="mb-3">
    <label for="formFile" class="form-label">Default file input example</label>
    <input class="form-control" type="file" id="formFile" name="formFile" accept="image/*">
  </div>

  <h1>Enter content below: </h1>
  
  <textarea name="pcontent" id="lname"  style="height: 70px; width: auto;"></textarea>
  <input type="submit" value="Submit">
</form>


  <script src="/js/bootstrap.bundle.min.js"></script>
